<%- include('partials/header') %>

<header>
    <div class="work">
        <img src="/work-logo2.png" alt="logo">
    </div>
    <div class="heading">
        <h2>EXPRESS JS</h2>
        <a href="/works" class="btn">İşleri Görüntüle</a>
    </div>
</header>

<%- include('partials/footer') %>