<%- include('partials/header') %>

    <ul class="works">
        <% if(isler.length> 0){ %>

            <% isler.forEach(is=> { %>
                <li class="work">
                    <img src="/work-logo2.png" alt="work-logo">
                    <h4>
                        <%= is.baslik %>
                    </h4>
                    <p><%= is.aciklama %> </p>
                </li>
                <% }) %>
                    <% } else { %>
                        <div>Henüz iş girilmedi</div>
                        <% } %>
    </ul>

    <%- include('partials/footer') %>