<%- include('partials/header') %>

<ul class="works">
    <li class="work"> 
        <img src="/work-logo2.png" alt="">
        <h4>Javascript</h4>
        <p>Test ediliyor</p>
    </li>

    <li class="work"> 
        <img src="/work-logo2.png" alt="">
        <h4>Javascript</h4>
        <p>Test ediliyor</p>
    </li>

    <li class="work"> 
        <img src="/work-logo2.png" alt="">
        <h4>Javascript</h4>
        <p>Test ediliyor</p>
    </li>
</ul>

<%- include('partials/footer') %>